.container{
  text-align:center ;
  margin-top: 20px;
}
.post{
  border-radius: 5px;
  margin-top: 20px;
  background-color: rgb(41, 216, 90);
}
.post:hover{
  opacity: 0.7;
}
.delete{
  border-radius: 5px;
  background-color: rgb(243, 68, 68);
}
.delete:hover{
  opacity: 0.7;
}
.table{
  height: 80px;
  width: 500px;
  border: solid 1px black;
  text-align: center;
}
.tr{
  border: solid 1px black;
}
.th{
  border: solid 1px black;
}
.td{
  border: solid 1px black;
}
.return{
  margin-top: 20px;
  margin-left: 500px;
  text-align: center;
}
.edit{
  background-color: rgb(244, 255, 88);
  border-radius: 5px;
}
.edit:hover{
  opacity: 0.7;
}
.finish{
  background-color: rgb(93, 241, 101);
  border-radius: 5px;
}
.finish:hover{
  opacity: 0.7;
}